@using WebApplication.Models
@using WebApplication.VewModels
@model AllOrdersViewModel

@{
    ViewBag.Title = "AllOrdersSalesman";
}

@Styles.Render("~/Content/order");
@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/order");

<div style="height: 100%; width: 100%; background-color:#222">

    <h2 style="font-size:36px; font-weight:500; text-align: center; margin-top: 20px; padding-top:40px; color:navajowhite">ALL ORDERS</h2>

    <hr style="margin-top:10px; width:44%" />

    <div class="salesman-content my-flex">

        <div class="content" style="height: 100%;">
            <h4>Not Delivered</h4>
            @*<hr style="width:60%"/>*@
            <table class="table" id="table-not-delivered">
                <tr>
                    <th style="padding-right: 30px;">ID</th>
                    <th>Vreme narudzbine</th>
                    <th>Dostava</th>
                    <th>Dostavljeno</th>
                </tr>

                @foreach (Order item in Model.Orders)
                {
                    if (item.Delivery == WebApplication.Models.Enums.HomeDelivery.Yes)
                    {
                        if (item.Delivered == WebApplication.Models.Enums.Delivered.No)
                        {
                            <tr id="@item.Id" draggable="true" data-id="@item.Id" ondragstart="drag(event)">
                                <td style="font-size:1.9rem; font-weight:bold; color:orangered">@item.Id</td>
                                <td>@item.CreatedAt</td>
                                <td style="text-align:center">@item.Delivery</td>
                                <td style="text-align: center; color: orangered">@item.Delivered</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>

        <div class="content" style="height: 100%;">
            <h4 class="delivered">Delivered</h4>

            <table class="table" id="table-delivered">
                <tr>
                    <th>ID</th>
                    <th>Vreme narudzbine</th>
                    <th>Dostava</th>
                    <th>Dostavljeno</th>
                </tr>

                @foreach (Order item in Model.Orders)
                {
                    if (item.Delivery == WebApplication.Models.Enums.HomeDelivery.Yes)
                    {
                        if (item.Delivered == WebApplication.Models.Enums.Delivered.Yes)
                        {
                            <tr>
                                <td style="font-size:1.9rem; font-weight:bold; color:greenyellow">@item.Id</td>
                                <td>@item.CreatedAt</td>
                                <td style="text-align:center">@item.Delivery</td>
                                <td style="text-align: center; color: greenyellow">@item.Delivered</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>



    </div>

    <div class="shipping-area" ondragover="allowDrop(event)" ondrop="dropFunction(event)">
        <i class="fa fa-truck shipping-truck" aria-hidden="true"></i>
    </div>


</div>
