@using WebApplication.Models
@model IList<WebApplication.Models.Order>

@{
    ViewBag.Title = "AllOrders";
}

@Styles.Render("~/Content/order");
@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/order");

<div style="background-size: cover; height: 100%; width: 100%; background-color:#222">

    <h2 style="font-size:36px; font-weight:500; text-align: center; margin-top: 20px; padding-top:40px; color:navajowhite">ALL ORDERS</h2>

    <hr style="margin-top:10px; width:44%" />

    <div class="content" style="margin: 50px 230px; overflow-y:scroll; overflow-x:hidden">

        <table class="table">
            <tr>
                <th>Id</th>
                <th style="text-align:center">Cena (din/kg)</th>
                <th style="text-align:center">Datum</th>
                <th style="text-align:center">Dostava</th>
                <th style="text-align:center">Dostavljeno</th>
                <th style="width: 120px;"></th>
            </tr>

            @foreach (Order item in Model)
            {
                <tr>
                    <td style="text-transform: capitalize; color: navajowhite;">
                        @item.Id
                    </td>
                    <td style="color: navajowhite; text-align: center">
                        @item.SumPrice() din
                    </td>
                    <td style="color: navajowhite; text-align: center">
                        @item.CreatedAt.ToString("dd. MMMM yyyy H:mm")
                    </td>
                    <td style="color: navajowhite; text-align: center">
                        @item.Delivery
                    </td>
                    @if (item.Delivery == WebApplication.Models.Enums.HomeDelivery.Yes)
                    {
                        if (item.Delivered == WebApplication.Models.Enums.Delivered.No)
                        {
                            <td style="color: orangered; text-align: center">
                                @item.Delivered
                            </td>
                        }
                        else
                        {
                            <td style="color: lawngreen; text-align: center">
                                @item.Delivered
                            </td>
                        }
                    }
                    else
                    {
                        <td style="color: navajowhite; text-align: center">
                            /
                        </td>
                    }


                    <td style="text-align: end;">
                        @*<button class="btn-order-details btn-custom" type="button" style="text-align:center"><i class="fa fa-info" aria-hidden="true"></i></button>*@
                        <button class="btn-order-details btn-custom" data-idval="@item.Id" data-sumprice="@item.SumPrice()" type="button" style="text-align:center">Details</button>
                    </td>
                </tr>
            }
        </table>

    </div>

</div>




<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-custom-basic-info">
        <h3 id="order-id"></h3>
    </div>
      <hr style="border-top: 1px solid #222"/>
    <div style="display: flex; flex-direction: row; align-content: center; justify-content: space-evenly;">
        <div class="modal-custom-list meals" id="meals">
            <p class="meal">Burek (400g)</p>
            <p class="meal">Pita sa visnjama (200g)</p>
        </div>
        <div class="modal-custom-list drinks" id="drinks">
            <p class="drink">Jogurt (2 kom)</p>
        </div>
    </div>
    <hr style="border-top: 1px solid #222"/>
    <div class="modal-custom-price" >
        <p class="price" id="price"></p>
    </div>
  </div>

</div>