@using WebApplication.Models
@model Order


@{
    ViewBag.Title = "Your Orders";
}


@Styles.Render("~/Content/order");
@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/order");


<div style="background-size: cover; height: 100%; width: 100%; background-color:#222; display:flex; align-items: center; justify-content: center">

    @if (ViewBag.errMsg != null && ViewBag.errMsg != "")
    {
        <h3 style="font-weight: lighter; color: orangered; text-align: center; margin-bottom:20px">@ViewBag.errMsg</h3>
    }
    else
    {
    <div class="content">


        <h2>Porudžbina:</h2>
        <hr />
        @if (Model.Meals.Count > 0)
        {
            <h4>Hrana:</h4>
            <table class="table">
                @foreach (MealHelper meal in Model.Meals)
                {
                    <tr>
                        <td style="text-transform: capitalize; color: navajowhite;">
                            @meal.Name
                        </td>
                        <td style="color: navajowhite; text-align:center">
                            @meal.Quantity gr
                        </td>
                        <td style="text-align: end; color: navajowhite;">
                            @meal.Price din
                        </td>
                        <td>
                            <button class="btn-custom"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                }
            </table>
        }
        @if (Model.Drinks.Count > 0)
        {
            <hr />
            <h4>Piće:</h4>
            <table class="table">
                @foreach (DrinkHelper drink in Model.Drinks)
                {
                    <tr>
                        <td style="text-transform: capitalize; color: navajowhite;">
                            @drink.Name
                        </td>
                        <td style="color: navajowhite; text-align:center">
                            @drink.Quantity kom
                        </td>
                        <td style="text-align: end; color: navajowhite;">
                            @drink.Price din
                        </td>
                        <td>
                            <button class="btn-custom"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                }
            </table>

            

        }

        @if (Model.Drinks.Count>0 || Model.Meals.Count>0)
        {
            <hr style="margin-bottom:4px;"/>
            <div style="display: flex; flex-direction:column; align-items:center">
                <h5 style="text-transform:uppercase; font-size:2rem">Cena: <span id="cena">580 din</span></h5>
                <span class="span-dostava">Dostava: <select id="dostava"><option>Ne</option><option>Da</option></select></span>
                <button id="btn-naruci" class="btn-custom btn-order">Naruci</button>
            </div>
        }

    </div>
    }

</div>