@using WebApplication.VewModels
@using WebApplication.Models
@model MealDrinkViewModel

@{
    ViewBag.Title = "Menu";
}

@Styles.Render("~/Content/menu");
@*@Styles.Render("~/Content/fontawesome")*@
@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/menu");


<div style="background-size: cover; height: 100%; width: 100%; background-color:#222">



    <h2 style="font-size:36px; font-weight:500; text-align: center; margin-top: 0px; padding-top:40px; color:navajowhite">MENU</h2>

    <hr style="margin-top:10px;" />

    <div class="content-container">
        <div class="left-content">
            <h4>Obrok</h4>
            <table class="table">
                <tr>
                    <th>Naziv</th>
                    <th>Cena (din/kg)</th>
                    @if (Session["user"] != null)
                    {
                     <th style="text-align:right;"><i style="margin-right:6px;" class="fa fa-shopping-cart" aria-hidden="true"></i></th>
                    }
                </tr>

                @foreach (Meal item in Model.Meals)
                {
            <tr>
                <td style="text-transform: capitalize; color: navajowhite;">
                    @item.Name
                </td>
                <td style="text-align: end; color: navajowhite;">
                    @item.Price din
                </td>
                @if (Session["user"] != null)
                {
                    <td id="@item.Id">
                        <span class="span1">
                            <input id="@item.Id" style="color:#222;" class="input-custom" type="number" onkeydown="return false" min="100" value="0" max="1500" step="50" /> <span>gr</span>
                        </span>
                        <button class="btn-custom btn-add-meal" data-idval="@item.Id"><i class="fa fa-plus" aria-hidden="true"></i></button>                        
                    </td>
                }
                </tr>
                }
            </table>
        </div>
        <div class="right-content">
            <h4>Piće</h4>
            <table class="table">
                <tr>
                    <th>Naziv</th>
                    <th>Cena (din/kg)</th>
                    @if (Session["user"] != null)
                    { 
                        <th style="text-align:right;"><i style="margin-right:6px;" class="fa fa-shopping-cart" aria-hidden="true"></i></th>
                    }
                    </tr>

                @foreach (Drink item in Model.Drinks)
                {
            <tr>
                <td style="text-transform: capitalize; color: navajowhite;">
                    @item.Name
                </td>
                <td style="text-align: end; color: navajowhite;">
                    @item.Price din
                </td>
                @if (Session["user"] != null)
                {
                    <td>
                        <span class="span2">
                            <input style="color:#222;" class="input-custom smaller" type="number" onkeydown="return false" value="0" min="1" max="10" step="1" /> <span>kom</span>
                        </span>
                        <button class="btn-custom btn-add-drink" data-idval="@item.Id"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </td>
                }
                </tr>
                }
            </table>
        </div>
    </div>

</div>